body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.class-container {
    width: 100%;
    justify-content: center;
}

.icons {
    width: 22%;
    float: left;
}

.thirds {
    width: 30%;
    float: left;
}

.btn {
    margin-right: 10px;
}

.wayfarer-form {
    width: 61%;
}

.wayfarer-class {
    background-color: red;
    width: 100px;
    height: 100px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

