nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar") 
        span(class="icon-bar") 
        span(class="icon-bar") 
      a(class="navbar-brand" href="#") Delve

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav")
        li(class="active")
            a(href="#") Deck
        li
            a(href="#") Play

div.container
    div(class="row")
        div.well
            h1 Build Your Wayfarer
            p.lead Basic information
    
    form
        div(class="form-group")
            label(for="wayfarerName") Name
            input(type="text" class="form-control" id="wayfarerName" placeholder="What is the name of your wayfarer?")
        div(class="form-group")
            label(for="level") Level
            input(type="text" class="form-control" id="level" placeholder="1")
        
        h4 Select a Class
        div(class="row well")
            div.thirds
            div(class="class-container")
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
                div(class="icons")
                    div.wayfarer-class
            div.thirds

    div.row
        button(type="submit" class="btn btn-primary") Next
