div(class="row")
    div.col-md-12(id='sub-container')
        div.well
            h1 Build Your Wayfarer
            p.lead Select a Class
        form#wayfarer-form(class='wayfarer-form')
            div(class="row well")
                div(class="class-container")
                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class

                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class

                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class

                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class
                    div(class="icons")
                        div.wayfarer-class

        div.row(id='form-control')
            button#next(type="submit" class="btn btn-primary") Next
