form
    h4 Select Skills
    div(class="row well")
        div.thirds
        div(class="class-container")
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
            div(class="icons")
                div.wayfarer-class
        div.thirds
